* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #f6f6f6;
}

a {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
}
